body {

  	background-image: url(https://images.pexels.com/photos/131634/pexels-photo-131634.jpeg);
  	background-size: cover;

}

#fullName{
	color:white;
	background-color: #5ebbe6;
	padding: 50px;
	margin: 25px;
	width: 800px;
	font-size: 50px;
	font-weight: bolder;	
}

#profileImage{
	float: left;
}

#followersInformation{
background-color: #5ebbe6;
color: white;
font-size: 36px;
padding: 30px;
width: 500px;

}

.link{

	background-color: #5ebbe6;
	color:white;
	font-size: 30px;
	padding: 30px;
	width: 300px;
	position:relative;
	left: 560px;
	bottom:216px;
}

#repos{
	background-color: #5ebbe6;
	width:30%;
	padding:26px;
	color:white;
	position: relative;
	bottom: 100px;
}
dl>dt{
	background-color: #2677b5;
}

#pic{
	background-color: #5ebbe6;
	position: relative;
	left: 1100px;
	bottom:800px;
	color:white;
	font-size: 26px;
	width:500px;
	padding: 10px;
}

#loading{
	position: relative;
	left:1800px;
}